@import "tailwindcss";
@import "./theme.css";
@import "./daisy.theme.css";

@layer components {
    /* .btn-base {
        @apply bg-base-200 text-base-900;
    } */

    .container {
        @apply w-5/6 mx-auto px-6;
    }

    .indicator {
        @apply indicator;
        width: 100% !important;
    }
}

@layer base {
    h1 {
        @apply text-6xl font-bold font-coiny;
    }

    h2 {
        @apply text-5xl font-semibold font-coiny;
    }

    h3 {
        @apply text-3xl font-medium font-coiny;
    }

    h4 {
        @apply text-2xl font-medium font-coiny;
    }

    h5 {
        @apply text-xl font-medium font-coiny;
    }

    h6 {
        @apply text-lg font-medium font-coiny;
    }

    p {
        @apply text-black leading-relaxed py-2;
    }

    a {
        @apply no-underline hover:text-primary;
    }

    ul {}

    ol {
        @apply list-decimal pl-5;
    }

    li {
        @apply mb-2;
    }
}

.input,
.textarea {
    border: 1px;
}

.printables {
    zoom: 0.75;
}