@theme {
    --font-coiny: "Coiny", "sans-serif";
    --line-height: 1;
    --color-primary-50: oklch(88.19% 0.065 6.54);
    --color-primary-100: oklch(88.19% 0.065 6.54);
    --color-primary-200: oklch(77.52% 0.136 9.34);
    --color-primary-300: oklch(69.05% 0.203 13.39);
    --color-primary-400: oklch(64.09% 0.246 20.23);
    --color-primary-500: oklch(57.94% 0.234 23.93);
    /* --color-primary-500: "#ff0000"; */
    --color-primary-600: oklch(49.36% 0.199 23.57);
    --color-primary-700: oklch(39.98% 0.161 22.81);
    --color-primary-800: oklch(30.02% 0.121 20.69);
    --color-primary-900: oklch(19.13% 0.077 15.71);
    --color-primary-950: oklch(19.13% 0.077 15.71);
    
    --color-secondary-50: oklch(87.56% 0.065 246.47);
    --color-secondary-100: oklch(87.56% 0.065 246.47);
    --color-secondary-200: oklch(75.64% 0.131 248.47);
    --color-secondary-300: oklch(65.62% 0.188 252.49);
    --color-secondary-400: oklch(53.81% 0.175 254.66);
    --color-secondary-500: oklch(39.62% 0.125 253.63);
    --color-secondary-600: oklch(33.67% 0.103 252.77);
    --color-secondary-700: oklch(27.95% 0.084 251.96);
    --color-secondary-800: oklch(21.84% 0.061 249.63);
    --color-secondary-900: oklch(15.70% 0.037 242.15);
    --color-secondary-950: oklch(15.70% 0.037 242.15);
    
    --color-accent-50: oklch(96.78% 0.042 90.77);
    --color-accent-100: oklch(96.78% 0.042 90.77);
    --color-accent-200: oklch(93.74% 0.082 90.81);
    --color-accent-300: oklch(90.91% 0.117 90.25);
    --color-accent-400: oklch(88.08% 0.146 88.61);
    --color-accent-500: oklch(85.66% 0.165 86.55);
    --color-accent-600: oklch(79.88% 0.164 82.30);
    --color-accent-700: oklch(64.44% 0.133 82.26);
    --color-accent-800: oklch(48.10% 0.099 83.96);
    --color-accent-900: oklch(30.33% 0.062 86.97);
    --color-accent-950: oklch(30.33% 0.062 86.97);
    
    --color-neutral-50: oklch(86.74% 0.045 38.76);
    --color-neutral-100: oklch(86.74% 0.045 38.76);
    --color-neutral-200: oklch(73.66% 0.096 39.68);
    --color-neutral-300: oklch(61.74% 0.149 38.84);
    --color-neutral-400: oklch(47.68% 0.119 38.29);
    --color-neutral-500: oklch(31.67% 0.072 38.86);
    --color-neutral-600: oklch(27.93% 0.060 40.15);
    --color-neutral-700: oklch(23.49% 0.048 38.48);
    --color-neutral-800: oklch(19.06% 0.035 38.61);
    --color-neutral-900: oklch(14.11% 0.019 45.54);
    --color-neutral-950: oklch(14.11% 0.019 45.54);
    
    --color-base-50: oklch(98.88% 0.005 78.30);
    --color-base-100: oklch(98.88% 0.005 78.30);
    --color-base-200: oklch(97.76% 0.009 78.28);
    --color-base-300: oklch(96.63% 0.014 78.26);
    --color-base-400: oklch(95.49% 0.019 80.12);
    --color-base-500: oklch(94.39% 0.023 78.22);
    --color-base-600: oklch(82.64% 0.070 77.34);
    --color-base-700: oklch(71.42% 0.114 75.18);
    --color-base-800: oklch(54.54% 0.095 73.77);
    --color-base-900: oklch(34.05% 0.055 76.76);
    --color-base-950: oklch(34.05% 0.055 76.76);
    
    --color-success-50: oklch(95.42% 0.039 118.17);
    --color-success-100: oklch(95.42% 0.039 118.17);
    --color-success-200: oklch(90.74% 0.075 118.52);
    --color-success-300: oklch(86.32% 0.111 119.59);
    --color-success-400: oklch(81.81% 0.142 120.49);
    --color-success-500: oklch(77.57% 0.167 122.28);
    --color-success-600: oklch(65.76% 0.139 121.73);
    --color-success-700: oklch(53.56% 0.112 121.77);
    --color-success-800: oklch(40.35% 0.081 121.30);
    --color-success-900: oklch(26.22% 0.048 121.18);
    --color-success-950: oklch(26.22% 0.048 121.18);
    
    --color-info-50: oklch(93.85% 0.049 213.88);
    --color-info-100: oklch(93.85% 0.049 213.88);
    --color-info-200: oklch(88.20% 0.093 215.76);
    --color-info-300: oklch(83.66% 0.125 217.52);
    --color-info-400: oklch(79.87% 0.144 221.86);
    --color-info-500: oklch(71.83% 0.135 223.94);
    --color-info-600: oklch(60.68% 0.114 223.63);
    --color-info-700: oklch(49.30% 0.092 222.94);
    --color-info-800: oklch(37.22% 0.069 221.64);
    --color-info-900: oklch(24.04% 0.043 218.32);
    --color-info-950: oklch(24.04% 0.043 218.32);
    
    --color-error-50: oklch(87.73% 0.057 14.26);
    --color-error-100: oklch(87.73% 0.057 14.26);
    --color-error-200: oklch(76.33% 0.121 15.83);
    --color-error-300: oklch(66.70% 0.184 19.77);
    --color-error-400: oklch(60.36% 0.229 25.26);
    --color-error-500: oklch(51.61% 0.202 25.94);
    --color-error-600: oklch(43.56% 0.169 25.99);
    --color-error-700: oklch(35.65% 0.135 25.23);
    --color-error-800: oklch(27.22% 0.100 23.95);
    --color-error-900: oklch(17.96% 0.059 21.06);
    --color-error-950: oklch(17.96% 0.059 21.06);
    
    --color-warning-50: oklch(93.09% 0.043 59.40);
    --color-warning-100: oklch(93.09% 0.043 59.40);
    --color-warning-200: oklch(86.52% 0.088 58.45);
    --color-warning-300: oklch(80.45% 0.132 56.69);
    --color-warning-400: oklch(75.08% 0.170 53.02);
    --color-warning-500: oklch(70.76% 0.197 46.46);
    --color-warning-600: oklch(59.90% 0.166 46.76);
    --color-warning-700: oklch(48.69% 0.133 47.84);
    --color-warning-800: oklch(36.78% 0.097 49.96);
    --color-warning-900: oklch(23.85% 0.058 56.02);
    --color-warning-950: oklch(23.85% 0.058 56.02);
}

